@tailwind base;
@tailwind components;
@tailwind utilities;

// Flaticons
@import "@flaticon/flaticon-uicons/css/bold/rounded.css";

// Fonts
//Abril
@font-face {
  font-family: "abril";
  src: url("../../../public/fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Alegreya
@font-face {
  font-family: "alegreya";
  src: url("../../../public/fonts/AlegreyaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "alegreya";
  src: url("../../../public/fonts/AlegreyaSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "alegreya";
  src: url("../../../public/fonts/AlegreyaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

// Amatic SC
@font-face {
  font-family: "amatic";
  src: url("../../../public/fonts/AmaticSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "amatic";
  src: url("../../../public/fonts/AmaticSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Anton
@font-face {
  font-family: "anton";
  src: url("../../../public/fonts/Anton-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Barlow Condensed
@font-face {
  font-family: "BarlowCondensed";
  src: url("../../../public/fonts/BarlowCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BarlowCondensed";
  src: url("../../../public/fonts/BarlowCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// DM Sans
@font-face {
  font-family: "dmsans";
  src: url("../../../public/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dmsans";
  src: url("../../../public/fonts/DMSans-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dmsans";
  src: url("../../../public/fonts/DMSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dmsans";
  src: url("../../../public/fonts/DMSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dmsans";
  src: url("../../../public/fonts/DMSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 9px;
  transition: all 0.3s ease;
}

.preview-window::-webkit-scrollbar {
  width: 0;
}

/* ScrollBar Track */
::-webkit-scrollbar-track {
  //background: rgba(241, 241, 241, 0.5);
  @apply bg-neutral-100/50;
  @apply shadow-xl;
  @apply shadow-black/20;
}

/* ScrollBar Handle */
::-webkit-scrollbar-thumb {
  @apply bg-action/80;
}

/* ScrollBar Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-action;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer and Edge */
  scrollbar-width: none; /* for Firefox */
}

/* Headings */
h1 {
  @apply text-4xl;

  @media screen and (min-width: 768px) {
    @apply text-5xl;
  }

  @media screen and (min-width: 1024px) {
    @apply text-7xl;
  }
}

h2 {
  @apply text-3xl;

  @media screen and (min-width: 768px) {
    @apply text-4xl;
  }

  @media screen and (min-width: 1024px) {
    @apply text-5xl;
    &.cta {
      @apply text-5xl;
    }
  }
}

h3 {
  @apply text-xl;

  @media screen and (min-width: 768px) {
    @apply text-2xl;
  }

  @media screen and (min-width: 1024px) {
    @apply text-3xl;
  }
}

h4 {
  @apply text-lg;

  @media screen and (min-width: 768px) {
    @apply text-xl;
  }

  @media screen and (min-width: 1024px) {
    @apply text-2xl;
  }
}

p {
  @apply text-lg;

  @media screen and (min-width: 768px) {
    @apply text-2xl;
  }

  @media screen and (min-width: 1024px) {
    @apply text-3xl;
  }
}